<div id="panelJug1" class="PJ_playerPanel">
    <h2>Jugador 1</h2>
    <button class="PJ_button" onclick="eleccionJugador1(1,this)">Seleccionar Piedra</button>
    <button class="PJ_button" onclick="eleccionJugador1(2,this)">Seleccionar Papel</button>
    <button class="PJ_button" onclick="eleccionJugador1(3,this)">Seleccionar Tijera</button>
    <p>0</p>
</div>
<div id="panelJug2" class="PJ_playerPanel">
    <h2>Jugador 2</h2>
    <button class="PJ_button" onclick="eleccionJugador2(1,this)">Seleccionar Piedra</button>
    <button class="PJ_button" onclick="eleccionJugador2(2,this)">Seleccionar Papel</button>
    <button class="PJ_button" onclick="eleccionJugador2(3,this)">Seleccionar Tijera</button>
    <p>0</p>
</div>