@{
    ViewData["Title"] = "Inicio";
}

<div class="PI_container" id="contenido">
    <h1 class="PI_title">JUEGO DE PIEDRA, PAPEL, O TIJERA</h1>
    <button class="PI_button" onclick="iniciarJuego()">Iniciar Juego </button>
</div>